DATABASE_TYPE=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_NAME=restful
DATABASE_ENTITIES="dist/**/*.entity{.ts,.js}"
DATABASE_SYNCHRONIZE=true

SALT_LENGTH=10
JWT_SECRET=URePdILXXp7ZfPeKZe5PGexBRXCVwns06ra2zk8M8t2qVsLdGDvhe